# Копируйте этот файл как .env и заполните своими данными
# Для Bot Host установите эти переменные в панели управления

TELEGRAM_BOT_TOKEN=8506600032:AAEwpmsVsssiog3gZNkRqZB3uXMNUGBEO2E
# WEBHOOK_URL автоматически устанавливается Bot Host
# PORT автоматически устанавливается Bot Host
BOT_HOST_DEPLOY=true
